---
import Layout from '../layouts/Layout.astro';
import styles from '../styles/index.module.css';
---

<Layout>
	<div class={styles.container}>
		<span class={styles.rise} />
		<main class={styles.main}>
			<section class={styles.intro}>
				<p>Hi, I’m Levi</p>
				<p>Thing maker, software developer, designer, and photographer based in Melbourne, Australia.</p>
			</section>
			<section class={styles.body}>
				<p>
					I work with the talented people at <a href="https://ferocia.com.au/">Ferocia</a> building
					<a href="https://up.com.au">Up</a>, redefining modern banking for over 1 million Aussies.
				</p>
				<p>
					You can find me on
					<a href="https://github.com/levibuzolic">GitHub</a>,
					<a href="https://instagram.com/levibuzolic">Instagram</a>,
					<a href="https://twitter.com/levibuzolic">Twitter</a>,
					<a href="https://www.linkedin.com/in/levibuzolic/">LinkedIn</a>,
					<a href="https://dribbble.com/levibuzolic">Dribbble</a>,
					<a href="https://www.strava.com/athletes/150472">Strava</a>, or you can
					<a href="mailto:levibuzolic@gmail.com">email</a> me.
				</p>
			</section>
		</main>
	</div>
</Layout>
